DB_URL="host=localhost user=postgres password=password dbname=dbname port=5432 sslmode=disable"
PORT=8081
SWAGGER_HOST=localhost:8081
HOST=0.0.0.0
SECRET_KEY="C54B57AEA2ED11DF6629CD8A185B3"

GOOGLE_API_KEY=...

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,
http://127.0.0.1:3000,http://127.0.0.1:3001,
http://localhost:8081,http://localhost:8081,
http://localhost:8080,http://localhost:8080

AI_SERVICE_URL=